.page-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
 
.page-header ul {
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 15px;
}
 
@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto;
    margin-top: 0;
  }
 
  .page-header .cta-contact {
    order: 1;
  }
}



/* main body 1 */
.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
  background: var(--main-purple-color) url(IMG_SRC) no-repeat center / cover;
  background-blend-mode: luminosity;
  color: var(--main-white-color);
}
 
.page-main div {
  max-width: 500px;
}
 
@media screen and (min-width: 768px) {
  .page-main {
    padding-left: 90px;
  }
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  display: flex;
  flex-direction: column-reverse;
  background: var(--main-white-color);
}

.page-footer ul {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.page-footer ul li:not(:last-child) {
  margin-right: 20px;
}
